.app{
  display: flex;
  flex-direction: column;
}
.app-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: teal;
  color: #ffffff;
  padding: .8em;
}
.app-button{
  background-color: rgb(106, 155, 155)  ;
  padding: .5em;
}
.app-container{
  display: flex;
}
.app-navbar{
  width: 25%;
  height:100%;
  min-height: 100vh;
  border-right: 1px solid rgb(121, 114, 114); 
  background-color: rgb(211, 206, 197)
}
.app-body{
  padding: 1em;
  width: 75%;
}